body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

.buscador {
    margin-bottom: 20px;
}

    .buscador input {
        padding: 8px;
        width: 200px;
        margin-right: 10px;
    }

    .buscador button {
        padding: 8px 15px;
        background-color: #007BFF;
        color: white;
        border: none;
        cursor: pointer;
    }

        .buscador button:hover {
            background-color: #0056b3;
        }

#animales-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animal {
    background-color: #ddd;
    padding: 15px;
    margin: 10px;
    width: 300px;
    border-radius: 5px;
    text-align: left;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

    .animal button {
        margin-top: 10px;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
    }

.btn-ver {
    background-color: #28a745;
    color: white;
}

    .btn-ver:hover {
        background-color: #218838;
    }

.btn-eliminar {
    background-color: #dc3545;
    color: white;
}

    .btn-eliminar:hover {
        background-color: #c82333;
    }
